{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    <div class="nav-fixed">
        <a href="http://veintiochocomacinco.com">
            <img src="{{asset "images/logo_shoe.svg"}}">
        </a>
    </div>
    <div class="post">
        <div class="center-block post-center-block">
            <main class="container container-small">
                <!--<main class="content white-bg" role="main">-->
                <article class="{{post_class}}">
                    <section class="post-content">
                        {{content}}
                    </section>
                </article>

                <!--</main>-->
            </main>
        </div>
    </div>
{{/post}}