$bg-color: #FFFFFF;
$highlight-color: #000000;
$highlight-bg-color: #FFFFFF;
$inv-highlight-bg-color: rgba(0, 0, 0, 0.4);
$inv-text-color: white;
$text-color: black;
$latto: Lato, sans-serif;
$fjalla: 'Fjalla One', sans-serif;
$navbar-large-size: 150px;
$navbar-small-size: 70px;

$header-height: 15vh;
$header-margin: 4vh;

body {
  font-family: $latto;
}

a {
  color: $highlight-color !important;
  text-decoration: none !important;
}

@mixin trail($i) {
  margin-bottom: 15px * $i;

  @media (max-width: 480px) {
    margin-bottom: (15px * $i) / 2;
  }

}

@mixin lead($i) {
  margin-top: 15px * $i;
}

@for $i from 1 through 6 {
  .trail-#{$i} {
    @include trail($i)
  }
}

.container-small {
  @media(max-width: 960px) {
    width: 90%;
  }

  width: 780px;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;

  &-logo {
    flex: 1;

    img {
      max-width: 95%;
      @media(min-width: 768px) {
        max-width: 50%;
      }
      height: $header-height - $header-margin;
    }
  }

  &-social {
  }
}

.footer {
  display: flex;
  height: 240px;
  align-items: center;
  background-color: black;

  &-container {
    background-color: black;
  }
  &-left {
    flex: 1;
    display: block;
    text-align: center;
    &-logo {
      img {
        max-width: 95%;
        @media(min-width: 768px) {
          max-width: 50%;
        }
        height: auto;
        max-height: 130px;
      }
    }
    &-social {
    }
    &-links {
      margin-top: 30px;
      a {
        padding-left: 30px;
        padding-right: 30px;
        color: white !important;
      }
    }
  }
  &-right {
    flex: 1;
  }
}

.pagination {
  display: flex;
  vertical-align: middle;
  text-align: center;
  span {
    flex: 1;
  }
  a {
    flex: 1;
  }
}

.nav-fixed {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  vertical-align: middle;
  a {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    width: 200px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
  }
  i {
    color: white;
    line-height: 40px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    max-width: 180px;
  }
}

.top-main-gallery {
  position: relative;
  z-index: 0;
  border: 3px solid $highlight-color;

  &-item {
    display: block;
    position: relative;
    overflow: hidden;

    &-title {
      position: absolute;
      margin: 0 auto;
      text-align: center;
      bottom: 20%;
      left: 0;
      right: 0;

      a {
        font-family: $fjalla;
        text-transform: uppercase;
        background-color: $inv-highlight-bg-color;
        color: $inv-text-color !important;
        display: inline-block;
        z-index: 300;

        h2 {
          margin: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &-photo {
      background-size: cover;
      background-position: center center;

      &:after {
        display: block;
        content: "";
        height: 100vh - $header-height;
      }
    }
  }
}

.header-block {
  height: 19vh;
}

.grid {
  background-color: white;
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 10;
  transition: all .4s ease-in-out;
  &:after {
    display: block;
    overflow: hidden;
  }
}

.shadowed {
  box-shadow: 0 0 40px 15px $highlight-color;
}

.grid-item {
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  a {
    text-decoration: none;
    height: 100px;
    &:link, &:hover, &:visited, &:active {
      text-decoration: none;
    }

  }

}

@media (min-width: 768px) {
  .col-333 {
    width: 27.777777775%;
  }
}

@media (min-width: 1200px) {
  .col-222 {
    width: 22.222222222%;
  }
}

.post-image {
  display: block;
  width: 100%;
  overflow: hidden;
}

.post-image-content {
  //display: block;
  overflow: hidden;

  width: 100%;
  padding-bottom: 60%;
  transition: all .2s ease-in-out;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%); /* Webkit */

  &:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Webkit */
  }
  background-size: cover;
  border: 3px solid $highlight-color;
  box-sizing: border-box;
}

.gallery-center-block {
  background-color: $bg-color;
  padding-top: 1vh;
  z-index: 2;
}

.post-center-block {
  background-color: $bg-color;
  padding-top: 60px;
  z-index: 2;
}

nav {
  .navbar {
    background-color: blue;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .navbar-default {
    background-color: green;
  }
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-large {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  .navbar-header {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    min-height: $navbar-large-size;
    img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      height: 100px;
    }
  }
}

.navbar-small {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  .navbar-header {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    min-height: $navbar-small-size;
    img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      height: 100px;
    }
  }
}

.img-logo-letters {
  position: absolute;
  top: 20px;
  left: 0px;
  //opacity: 0.5;
}

.social-media-icon {
  height: 5vh;
}

.navbar-header {
  min-height: 150px;
}

.blog_post_item_bg {
  transition: .5s;
  width: 100%;
  height: 100%;
  &:hover {
    filter: saturate(10);
  }
}

.post-header {
  font-family: $fjalla;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 70vh;
  margin-left: 40px;
  margin-right: 40px;
  right: 0px;
  color: $text-color;
  text-align: center;
  bottom: 20%;

  h1 {
    font-family: $fjalla;
    text-transform: uppercase;
    background-color: $inv-highlight-bg-color;
    color: $inv-text-color !important;
    display: inline-block;
    z-index: 300;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  //-webkit-filter: blur(10px) brightness(3);
  //-moz-filter: blur(10px) brightness(3);
  //-o-filter: blur(10px) brightness(3);
  //-ms-filter: blur(10px) brightness(3);
  filter: blur(10px) brightness(3);
  -ms-transform: scale(1.5, 1.5); /* IE 9 */
  -webkit-transform: scale(1.5, 1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5, 1.5);
}

.post-content {
  font-family: Lato, sans-serif;
  font-size: 18px;
  text-align: justify;
}

.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%); /* for Safari and iOS */
  -ms-transform: translateX(-50%); /* for IE9 */
  transform: translateX(-50%);
}

.post-item-title {
  font-family: $fjalla !important;
  text-transform: uppercase !important;
  position: absolute;
  text-align: center;
  padding: 10px 10px 20px 10px;
  left: 15px;
  right: 15px;
  bottom: 0;
  background-color: $inv-highlight-bg-color;
  color: $inv-text-color;
}

.post-main-img {
  position: relative;
  height: 100vh;
  max-height: 800px;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.post-gallery {
  width: 100%;
  float: left;
}

.post-gallery img {
  width: 100%;
  height: auto;
}

.post-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.post-gallery figcaption {
  display: none;
}

.white-bg {
  background-color: $bg-color;
  z-index: 3000;
}

// bootstrap custom things

$bgDefault: rgba(0, 0, 0, 0.5);
$bgHighlight: rgba(0, 0, 0, 1);
$colDefault: #ecf0f1;
$colHighlight: #ffbbbc;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}
