//*, *:before, *:after {
//  -moz-box-sizing: border-box;
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  margin: 0;
//}
//
//html, body {
//  width: 100%;
//  height: auto;
//  margin: 0;
//  padding: 0;
//  overflow: auto;
//}
//
//
//body {
//  -webkit-overflow-scrolling: touch;
//  overflow-y: auto;
//  font-size: 120%;
//  line-height: 1.625;
//  font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica Neue, Helvetica, Arial, sans-serif;
//}

//
//
//p {
//  margin-bottom: 1em;
//}
//
//hr {
//  margin: 4em 0;
//}
//

//.page {
//  padding: 20px 0%;
//  position: relative;
//  top: 100vh;
//  background-color: white;
//}

.top-main-gallery {
  position: relative;
  top: -100;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  text-align: center;
}

//@media (pointer:fine) {
//
//  body {
//    -webkit-perspective: 1px;
//    -moz-perspective: 1px;
//    -ms-perspective: 1px;
//    -o-perspective: 1px;
//    perspective: 1px;
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    -ms-transform-style: preserve-3d;
//    -o-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//  }
//  body * {
//    -webkit-perspective: 1px;
//    -moz-perspective: 1px;
//    -ms-perspective: 1px;
//    -o-perspective: 1px;
//    perspective: 1px;
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    -ms-transform-style: preserve-3d;
//    -o-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//  }
//
//
//  .top-main-gallery {
//    -webkit-transform: translateZ(-0.9px) scale(1.9);
//    -moz-transform: translateZ(-0.9px) scale(1.9);
//    -ms-transform: translateZ(-0.9px) scale(1.9);
//    -o-transform: translateZ(-0.9px) scale(1.9);
//    transform: translateZ(-0.9px) scale(1.9);
//    z-index: -900;
//  }
//}

.logo {
  width: 100%;
  max-width: 300px;
  z-index: 0;
}

.grid {
  background-color: white;
  position: absolute;
  top: 100vh;
  z-index: 10;
  &:after{
    //clear: both;
    //content: "";
    display: block;
    overflow: hidden;
  }
}

.grid-item {
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    &:link, &:hover, &:visited, &:active {
      text-decoration: none;
    }
  }

}

.gray-backgrounded {
  background-color: rgba(250,250,250,1);
  padding-top: 30px;
  z-index: 2;
}

.top-main-gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  a {
    background-color: #d58512;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 300;
  }
}

nav {
  transition: 1s;
}

.navbar-large {
  transition: 1s;
  .navbar-header {
    min-height: 150px;
    img {
      height: 100px;
    }
  }
}
.navbar-small {
  transition: 1s;
  .navbar-header {
    min-height: 50px;
    img {
      height: 25px;
    }
  }
}

.navbar-header {
  min-height: 150px;
}

.top-main-gallery-item-photo {
  background-size: cover;
  background-position: center center;
  &:after {
    display: block;
    content: "";
    padding-bottom: 100vh;
  }
}

.blog_post_item_bg {
  transition:.5s;
  width: 100%;
  height: 100%;
  &:hover {
    filter: saturate(10);
  }
}

.post-header {
  font-family: Lato sans-serif;
  position: relative;
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  color: gray;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  background-repeat:no-repeat;
  background-size:cover;
  //-webkit-filter: blur(10px) brightness(3);
  //-moz-filter: blur(10px) brightness(3);
  //-o-filter: blur(10px) brightness(3);
  //-ms-filter: blur(10px) brightness(3);
  filter: blur(10px) brightness(3);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5,1.5);
}
.post-content {
  font-family: Lato, sans-serif;
  font-size: medium;
  text-align: justify;
}

.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%); /* for Safari and iOS */
  -ms-transform: translateX(-50%); /* for IE9 */
  transform: translateX(-50%);
}

.post-item-title {
  padding-top: 20px;
}

.post-gallery {
  width: 100%;
  float: left;
}
.post-gallery img {
  width: 100%;
  height: auto;
}
.post-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.post-gallery figcaption {
  display: none;
}
