$bg-color: #FFFFFF;
$highlight-color: #000000;
$highlight-bg-color: #FFFFFF;
$inv-highlight-bg-color: rgba(0,0,0,0.4);
$inv-text-color: white;
$latto: Lato, sans-serif;
$navbar-large-size: 150px;
$navbar-small-size: 70px;

body {
  font-family: $latto;
}

a {
  color: $highlight-color !important;
  text-decoration: none !important;
}

//*, *:before, *:after {
//  -moz-box-sizing: border-box;
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  margin: 0;
//}
//
//html, body {
//  width: 100%;
//  height: auto;
//  margin: 0;
//  padding: 0;
//  overflow: auto;
//}
//
//
//body {
//  -webkit-overflow-scrolling: touch;
//  overflow-y: auto;
//  font-size: 120%;
//  line-height: 1.625;
//  font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica Neue, Helvetica, Arial, sans-serif;
//}

//
//
//p {
//  margin-bottom: 1em;
//}
//
//hr {
//  margin: 4em 0;
//}
//

//.page {
//  padding: 20px 0%;
//  position: relative;
//  top: 100vh;
//  background-color: white;
//}

.top-main-gallery {
  position: relative;
  top: -100;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  //width: 100%;
  height: 90vh;
  z-index: 0;
  text-align: center;
  border-style: solid;
  border-color: $highlight-color;
  border-width: 2vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-block {
  height: 9vh;
}

//@media (pointer:fine) {
//
//  body {
//    -webkit-perspective: 1px;
//    -moz-perspective: 1px;
//    -ms-perspective: 1px;
//    -o-perspective: 1px;
//    perspective: 1px;
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    -ms-transform-style: preserve-3d;
//    -o-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//  }
//  body * {
//    -webkit-perspective: 1px;
//    -moz-perspective: 1px;
//    -ms-perspective: 1px;
//    -o-perspective: 1px;
//    perspective: 1px;
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    -ms-transform-style: preserve-3d;
//    -o-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//  }
//
//
//  .top-main-gallery {
//    -webkit-transform: translateZ(-0.9px) scale(1.9);
//    -moz-transform: translateZ(-0.9px) scale(1.9);
//    -ms-transform: translateZ(-0.9px) scale(1.9);
//    -o-transform: translateZ(-0.9px) scale(1.9);
//    transform: translateZ(-0.9px) scale(1.9);
//    z-index: -900;
//  }
//}

.logo {
  width: 100%;
  max-width: 300px;
  z-index: 0;
}

.grid {
  background-color: white;
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 10;
  //-webkit-box-shadow: 0 0 5px 5px $highlight-color;
  //-moz-box-shadow: 0px -15px 20px $highlight-color;
  transition: all .4s ease-in-out;
  &:after{
    //clear: both;
    //content: "";
    display: block;
    overflow: hidden;
  }
}

.shadowed {
  box-shadow: 0 0 40px 15px $highlight-color;
}

.grid-item {
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  a {
    text-decoration: none;
    height: 100px;
    &:link, &:hover, &:visited, &:active {
      text-decoration: none;
    }

  }

}

@media (min-width: 768px) {
  .col-333 {
    width: 27.777777775%;
  }
}
@media (min-width: 1200px) {
  .col-222 {
    width: 22.222222222%;
  }
}



.post-image {
  display: block;
  width: 100%;
  overflow: hidden;
}

.post-image-content {
  //display: block;
  overflow: hidden;

  width: 100%;
  padding-bottom: 60%;
  transition: all .4s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  background-size: cover;
  border-style: solid;
  border-color: $highlight-color;
  border-width: 1vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery-center-block {
  background-color: $bg-color;
  padding-top: 1vh;
  z-index: 2;
}
.post-center-block {
  background-color: $bg-color;
  padding-top: 30px;
  z-index: 2;
}

.top-main-gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  //height: 90vh;
  a {
    background-color: $inv-highlight-bg-color;
    color: $inv-text-color !important;
    position: absolute;
    bottom: 20vh;
    left: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 300;
  }
}

nav {
  .navbar {
    background-color: blue;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .navbar-default {
    background-color: green;
  }
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-large {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  .navbar-header {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    min-height: $navbar-large-size;
    img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      height: 100px;
    }
  }
}

.navbar-small {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  .navbar-header {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    min-height: $navbar-small-size;
    img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      height: 100px;
    }
  }
}

.img-logo-letters {
  position: absolute;
  top: 20px;
  left: 0px;
  //opacity: 0.5;
}

.logo-frontpage {
  height: 7vh;
  padding-top: 4vh;
}

//.img-logo-shoe {
//  position: absolute;
//  top: 20px;
//  left: 0px;
//  //opacity: 0.5;
//}
.navbar-header {
  min-height: 150px;
}

.top-main-gallery-item-photo {
  background-size: cover;
  background-position: center center;
  &:after {
    display: block;
    content: "";
    padding-bottom: 86vh;
  }
}

.blog_post_item_bg {
  transition:.5s;
  width: 100%;
  height: 100%;
  &:hover {
    filter: saturate(10);
  }
}

.post-header {
  font-family: Lato sans-serif;
  position: relative;
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  color: gray;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  background-repeat:no-repeat;
  background-size:cover;
  //-webkit-filter: blur(10px) brightness(3);
  //-moz-filter: blur(10px) brightness(3);
  //-o-filter: blur(10px) brightness(3);
  //-ms-filter: blur(10px) brightness(3);
  filter: blur(10px) brightness(3);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5,1.5);
}
.post-content {
  font-family: Lato, sans-serif;
  font-size: medium;
  text-align: justify;
}

.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%); /* for Safari and iOS */
  -ms-transform: translateX(-50%); /* for IE9 */
  transform: translateX(-50%);
}

.post-item-title {
  position: absolute;
  text-align: center;
  padding: 10px 10px 20px 10px;
  left: 15px;
  right: 15px;
  bottom: 10px;
  background-color: $inv-highlight-bg-color;
  color: $inv-text-color;
}

.post-gallery {
  width: 100%;
  float: left;
}
.post-gallery img {
  width: 100%;
  height: auto;
}
.post-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.post-gallery figcaption {
  display: none;
}



// bootstrap custom things


$bgDefault      : rgba(0,0,0,0.5);
$bgHighlight    : rgba(0,0,0,1);
$colDefault     : #ecf0f1;
$colHighlight       : #ffbbbc;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
